{% include 'header.html' %}
<body>

{% include 'nav.html' %}

<h1>Выбор билета 🎟️</h1>

<h3>Свободные места</h3>

<table>
    <tr>
        {% for h in headers %}
        <th>{{ h }}</th>
        {% endfor %}
        <th></th>
    </tr>

    {% for row in rows %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}

        <td>
            <form method="POST" action="/buy_ticket">
                <input type="hidden" name="ticket_id" value="{{ row[0] }}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
